#wall .tag-1 {
  display: none;
}

#wall div#tag-2 {
  display: none;
}

div#wall div#tag-3.slick {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}

div#wall .parent div#tag-5.slick {
  display: none;
}

div#wall div.parent div:first-child + div div#tag-6 {
  display: none;
}

body div#wall div.parent div:first-child #tag-7.slick {
  display: none;
}