#wall .tag-1 {
  display: none;
}

div#wall #tag-2 {
  display: none;
}

div#wall #tag-3.slick.wicked {
  display: none;
}

div#wall div#tag-4 {
  display: none;
}

div#wall div.parent div#tag-5.slick {
  display: none;
}

body div#wall div.parent div:last-child div#tag-6 {
  display: none;
}

html body div#wall div.parent div > #tag-7.slick {
  display: none;
}
