#wall .tag-1 {
  display: none;
}

#wall #tag-2 {
  display: none;
}

#wall #tag-3.slick.wicked {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}

#wall .parent > div {
  display: none;
} 


#wall .parent > div #tag-6 {
  display: none; 
}

#wall * { 
  display: none;
}